<!DOCTYPE html>
<html>
    

    <body>
        <nav class="navbar navbar-dark bg-primary" style="background-color: #4245f5;">
            <div class="container-fluid">
                <div class="navbar-header" style="display: flex; align-items: center;">
                      <a href= "/djangoapp/" class="navbar-brand" href="#" style="font-family: 'Brush Script MT', cursive; font-size: 50px;"><b>Best Cars</a>
                      <a href= "#" class = "btn btn-primary" style="background-color: #50C878; margin-left: 30px;">About Us</a>
                      <a href= "/djangoapp/contact-us/" class = "btn btn-primary" style="background-color: #50C878; margin-left: 30px; margin-right: 30px;">Contact Us</a>
                </div>
            </div>
        </nav>
        <h2 style="text-align: center; background-color: #DFFF00; padding: 50px;">
        Welcome to Best Cars dealership, home to the best cars in North America.  We sell domestic & imported cars at fair prices.
        </h2>

        <h4 style="text-align: center; padding: 10px;">
        What began as a meager collection of a dozen cars has grown to a dealer network that operates nationwide. We have been in operation for over 50 years and have earned the respect of the customers we serve.  At Best Cars dealerships we have a strong commitment to transparent, fair pricing. Our staff is trained to treat you with utmost respect and assist you in any possible way during the purchase process.  We owe much of our success to this straightforward approach which is just as much the standard now as it was 50 years ago. If you are in the market for a pre-owned vehicle we encourage you to visit one of our many locations and experience the difference yourself!
        </h4>
        
    <!-- More ABOUT US content -->
    </body>
</html>