<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contact Us</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <body>
        <nav class="navbar navbar-dark bg-primary" style="background-color: #4245f5;">
            <div class="container-fluid">
                <div class="navbar-header" style="display: flex; align-items: center;">
                      <a href= "/djangoapp/" class="navbar-brand" href="#" style="font-family: 'Brush Script MT', cursive; font-size: 50px;"><b>Best Cars</a>
                      <a href= "/djangoapp/about-us/" class = "btn btn-primary" style="background-color: #50C878; margin-left: 30px;">About Us</a>
                      <a href= "#" class = "btn btn-primary" style="background-color: #50C878; margin-left: 30px; margin-right: 30px;">Contact Us</a>
                </div>
            </div>
        </nav>

        <div class ="container-fluid" style="padding: 30px; text-align: center;">
            <p style="padding: 20px; font-size: 50px;"><b>Mailing Address:</p>
            <h2>5499 Bierstadt Dr <br>
            Albuquerque, NM 87101</h2>

            <p style="padding: 20px; font-size: 50px;"><b>Phone Number:</p>
            <h2> 1-800-215-6947</h2>
            <p style="font-size: 20px; font-weight: 400;">(24hr Line)</p>
        </div>
        
    </body>
</html>